Makefile
Makefile.in
ABOUT-NLS
compile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.rpath
config.status
config.sub
configure
autom4te.cache
aclocal.m4
depcomp
install-sh
m4/
missing
stamp-h1

*.o
restream
.deps/
*.log
.depend

.vscode/

